body{
  background-color: black;;
  background-repeat: no-repeat;   
  background-image: url('Imagens/teste.png');
  background-size: 2200px
}
    
div.container-fluid{
  font-size: 20px;
}
    
div.bloco1{
  margin-right: 6%;
  margin-left: 6%;
  background-color: rgba(0, 0, 0, 0.85);       
  padding-top: 1%;
  padding-bottom: 1%;
  font-family:sans-serif;
  text-align: justify;
  color: whitesmoke;
  padding-right: 2%;
  padding-left: 2%;   
  font-size: 20px;
  border-style: ridge;
  border-color:#F74424
}

div.bloco2{
  margin-right: 6%;
  margin-left: 6%;
  margin-top: 25px;
  margin-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.85); 
  padding-top: 2px;
  padding-bottom: 5px;
  font-family:sans-serif;
  text-align: justify;
  color: whitesmoke;
  padding-right: 2%;
  padding-left: 2%;   
  font-size: 20px;
  border-style: ridge;
  border-color: #F74424;
}  

div.titulo{
  margin-left: 15%;
  margin-right: 15%;
  font-family:sans-serif;   
  margin-bottom: 50px;
  margin-top: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  color: whitesmoke;
  font-style: normal;
  font-size: 36px;
  text-shadow: 5px 0px rgb(0, 0, 0); 
} 

h1{
  color: whitesmoke;
  font-family:sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  text-shadow: 0 0 0.1em rgb(255, 255, 255)
}   

img.perse{
  padding:2%;
  padding-right: 4%;
}
        
div.imagem{
  margin-left:5%;
  display: flex;
  margin-right: 5%;
  padding-right: 2%;
}
    
nav{
  opacity: 0.99;
}
    
div.fundo{
  color: black;
  opacity: 0.5;  
}  

p.fonte{
  font-style: italic;
  font-size:15px;
  font-family:sans-serif;
}    

div.fonte1{
  margin-top: 20px;
}

p.new{
  margin-top: 3%;
  display: flex;
}

img.Marte{
  margin-left: 1%;
  margin-right: 2%;
}

li.nav-item1{
  margin-right: 7%;
  margin-left: 7%;
}

div.login{
  margin-right: 50px;
  margin-left: 10px;
}

a.login{
  color: white;
  text-decoration: none;
  font-size: medium;
  text-align: center;
  font-family: sans-serif;
}